{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">
{% endblock header %}

{% block content %}
<div id="header">
    <img id="top-img" src="{% static "images/top.png" %}" >
</div>
<div class="container">
  
      <a href="{% url 'list' %}" class="btn-blue">リストを見る</a>
      <a href="{% url 'create' %}" class="btn-blue">投稿する</a>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn-blue">ログアウト</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn-blue">ログイン</a>
    {% endif %}
    
</div>
{% endblock content %}